<div id="container">
	<div class="triangle t1"></div>
	<div class="triangle t2"></div>
	<div class="triangle t3"></div>
	<div class="triangle t4"></div>
	
	<div id="boxArea">
		<div class="box"></div>
	</div>

	<!-- Boy -->
	<div class="boy">
		<div class="paper">
			<div class="demo"></div>
		</div>
		<div class="cover"></div>
	</div>
	<img id="boyText" src="../images/boy.png" onerror="this.src='../images/boy.png'">
	<!-- Girl -->
	<div class="girl">
		<div class="paper">
			<div class="demo1"></div>
		</div>
		<div class="cover"></div>
	</div>
	<div class="girl">
		<div class="paper">
			<div class="demo2"></div>
		</div>
		<div class="cover"></div>
	</div>
	<div class="girl">
		<div class="paper">
			<div class="demo3"></div>
		</div>
		<div class="cover"></div>
	</div>
	<img id="girlText" src="../images/girl.png" onerror="this.src='../images/girl.png'">
	<!-- help -->
	<canvas id="help" width="616" height="810"></canvas>
	<!-- GIF Canvas -->
	<div id="gifArea">
		<div class="cover"></div>
		<canvas id="bitmap"></canvas>
		<img id="gif">
	</div>
	<!-- copy -->
	<button id="copy-button" data-clipboard-text="" title="分享成果">分享成果</button>
</div>

<div class="drag"></div>


<div class="modal fade" id="copyMsg" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

