$green-color1: #bdda0f;
$green-color2: #cde82c;
$green-color3: #9EBB01;
$gray-color1: #afafaf;
$gray-color2: #cccccc;
$white-color: #fff;
$primary-font: Arial, "WenQuanYi Zen Hei", "Microsoft JhengHei", 微軟正黑體, sans-serif;
$gif-size: 300px;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin radial-gradient($from, $fromPercent, $to, $toPercent) {
	background: -moz-radial-gradient(center, circle cover, $from $fromPercent, $to $toPercent);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($fromPercent, $from), color-stop($toPercent, $to));
	background: -webkit-radial-gradient(center, circle cover, $from $fromPercent, $to $toPercent);
	background: -o-radial-gradient(center, circle cover, $from $fromPercent, $to $toPercent);
	background: -ms-radial-gradient(center, circle cover, $from $fromPercent, $to $toPercent);
	background: radial-gradient(center, circle cover, $from $fromPercent, $to $toPercent);
	background-color: $from;
}



html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $primary-font;
}

body {
	background: $green-color1;
	@include radial-gradient($green-color2, 10%, $green-color1, 80%);
}

.nosupport{
	font-family: $primary-font;
	font-size: 22px;
	color: $white-color;
	width:$gif-size;
	margin: auto;
	margin-top: 30px;
    padding: 15px;
    border: solid 6px;

    img {
    	width: 100%;
		margin: auto;
	    margin-bottom: 15px;
	    max-width: $gif-size;
    }
}


#container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

.drag{
	position: absolute;
	border: solid 10px $green-color2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events:none;

	&.hover{
		border: solid 10px #F05A2B;
	}
}


.triangle {
	width: 500px;
	height: 700px;
	position: absolute;

	/*Chrome,Safari*/
	-webkit-clip-path: polygon(500px 0px,225px 700px,0px 0px);
	/*Firefox*/
	clip-path: url(clip.svg#svgClip2);

	background: -moz-linear-gradient(-60deg, rgba(167,204,5,1) 0%, rgba(167,204,5,0) 50%, rgba(167,204,5,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(167,204,5,1)), color-stop(50%,rgba(167,204,5,0)), color-stop(100%,rgba(167,204,5,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-60deg, rgba(167,204,5,1) 0%,rgba(167,204,5,0) 50%,rgba(167,204,5,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-60deg, rgba(167,204,5,1) 0%,rgba(167,204,5,0) 50%,rgba(167,204,5,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-60deg, rgba(167,204,5,1) 0%,rgba(167,204,5,0) 50%,rgba(167,204,5,0) 100%); /* IE10+ */
	background: linear-gradient(120deg, rgba(167,204,5,1) 0%,rgba(167,204,5,0) 50%,rgba(167,204,5,0) 100%); /* W3C */
}

.rotate-25{
	-ms-transform: rotate(-25deg); /* IE 9 */
    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
}

.box{
	width:200px;
	height:200px;
	background: rgba(167,204,5,0.3);
	position: absolute;
	@include border-radius(5px);
	@include radial-gradient(rgba(167,204,5,0.1), 0%, rgba(167,204,5,0.2), 100%);
}


.cover {
	width:400px;
	height:400px;
	position: absolute;
	top: 0;
	margin: -12px 0 0 -12px;

	/*Chrome,Safari*/
	-webkit-clip-path: polygon(0px 80px,400px 260px,400px 0px,0px 0px);
	/*Firefox*/
	clip-path: url(clip.svg#svgClip);
	
	
	background: -moz-linear-gradient(-290deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(167,204,5,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-290deg, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-290deg, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-290deg, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(70deg, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* W3C */
	
	@include border-radius(15px);
	
}

.paper {
	width:$gif-size;
	height:$gif-size;
	background: $white-color;
	padding: 13px;

	@include border-radius(13px);
}

.boy .demo{
	background: $gray-color1;
	background-image: url(../images/boy_demo.gif) !important;
	width: $gif-size;
	height: $gif-size;
}

.girl {
 	.demo1 {
		background: $gray-color1;
		background-image: url(../images/girl_demo1.gif) !important;
		width: $gif-size;
		height: $gif-size;
	}
	.demo2{
		background: $gray-color1;
		background-image: url(../images/girl_demo2.gif) !important;
		width: $gif-size;
		height: $gif-size;
	}
	.demo3{
		background: $gray-color1;
		background-image: url(../images/girl_demo3.gif) !important;
		width: $gif-size;
		height: $gif-size;
	}
}


.boy, .girl {
	position: absolute;
}


#gifArea {
	width:470px;
	height:470px;
	border: solid $white-color 12px;
	margin:30px;
	@include border-radius(10px);
	background-color: $gray-color2;
	background-image: url(../images/drag.jpg);

	&.hover{
		border: solid $white-color 12px;
	}

	.cover{
		width:470px;
		height:470px;
		position: absolute;
		top: initial;
		margin: 0;
		@include border-radius(0px);
		opacity: 0.5;
	}
}


#bitmap, #gif {
	width:470px;
	height:470px;
	position: absolute;
}

#gif {
	display: none;
}

#share-button {
	z-index: 10;
	position: relative;
	width:190px;
	height:50px;
	border:solid 5px $white-color;
	@include border-radius(10px);
	color:$white-color;
	background: $green-color1;
	font-family: $primary-font;
	font-size: 16px;
	display: none;
	outline: none;

	&:hover {
		background: $green-color3;
	}
}

#msg .modal-content{
	text-align: center;
	padding:10px 10px;
	background-color: $green-color1;
	color:$white-color;
	font-family: $primary-font;
}

* {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}